<div class="header">
<ul>
<li><%= link_to "Home", root_path %></li>
<li><%= link_to "About", about_path	%></li>
<li><%= link_to "All Blogs", posts_path %></li>
<li><%= link_to "New Post", new_post_path %></li>
<% if user_signed_in? %>
    <li class="greeting">Hello,<%= link_to "#{current_user.first_name}", edit_user_path(session[:user_id])%></li>
    <li><%= link_to "Sign Out", sessions_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Sign Up", new_user_path %></li>
    <li><%= link_to "Sign In", new_session_path %></li>
  <% end %>
<%= form_tag(search_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Requests by Name/Email/Department or Message" %>
<%= submit_tag "Search" %>
</ul>
<% end %></div>
